// Colores de fondos botones y items

// Tinto ANUIES
$primary: rgba(117, 0, 0, 1)

$black-bg: rgba(0, 0, 0, 0.75)

$border-black: rgba(0,0,0,0.25)
$border-white: rgba(255,255,255,0.25)

// Colores de fondo contenedores

$white: rgba(255, 255, 255, 1)
$black: rgba(0, 0, 0, 1)

$oscuro-header: rgba(0, 0, 0, 0.5)
$oscuro-footer: rgba(43, 41, 41, 1)
