* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

header .banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .banner .over-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
  header .banner .over-content {
    width: 35%;
    height: 75%;
    position: absolute;
    top: 5%;
    right: 20px;
    opacity: 0.01;
    transition: opacity .5s; }
    header .banner .over-content .login {
      width: 100%;
      max-width: 500px;
      background: rgba(0, 0, 0, 0.5);
      padding: 25px; }
      header .banner .over-content .login .misspass {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px; }
      header .banner .over-content .login h2 {
        text-align: center;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.75); }
      header .banner .over-content .login .btn-data {
        display: block;
        background: transparent;
        border: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        padding: 10px;
        width: 100%;
        margin: 20px 0;
        font-size: 20px; }
      header .banner .over-content .login .btn-submit {
        width: 80%;
        margin: 0 10%;
        background: rgba(0, 0, 0, 0.5);
        border: 0;
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
        border-radius: 20px;
        margin-bottom: 0;
        padding: 5px; }
        header .banner .over-content .login .btn-submithover {
          background: black; }
        header .banner .over-content .login .btn-submitactive {
          transform: scale(0.95); }

header nav {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.5); }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    header nav ul a {
      text-decoration: none;
      height: 60px; }
      header nav ul a li {
        text-align: center;
        color: white;
        font-size: 24px;
        padding: 18px 25px;
        cursor: pointer; }
      header nav ul ahover {
        background: rgba(0, 0, 255, 0.25); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

footer {
  position: relative;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #2b2929;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px; }
  footer .logo {
    width: 35%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  footer .identidad {
    width: 65%;
    height: 100%;
    color: rgba(255, 255, 255, 0.85); }
    footer .identidad .contacto {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.75); }
      footer .identidad .contacto .contacto-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        list-style: none; }
        footer .identidad .contacto .contacto-info li {
          list-style: none; }
    footer .identidad .legal {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 10px; }

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.perfil {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: baseline;
  width: 45%;
  min-height: 400px;
  background: white;
  border-radius: 15px;
  margin: 2.5%;
  margin-top: 50px; }
  .perfil .perfil-usuario {
    padding: 20px;
    position: relative;
    margin-top: 50px; }
    .perfil .perfil-usuario .logo {
      position: absolute;
      width: 30%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 10px auto;
      top: -20%;
      left: 35%; }
    .perfil .perfil-usuario p {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      flex-flow: row wrap;
      border: 2px solid #750000;
      border-radius: 25px;
      padding: 25px;
      padding-top: 100px;
      margin-top: 40px; }
      .perfil .perfil-usuario p .dato {
        width: 30%; }
      .perfil .perfil-usuario p .valor {
        width: 70%; }
      .perfil .perfil-usuario p .titulo {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px; }
  .perfil .perfil-uni {
    margin-top: 50px;
    padding: 20px;
    position: relative; }
    .perfil .perfil-uni .logo {
      position: absolute;
      width: 30%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 50px auto;
      top: -20%;
      left: 35%; }
    .perfil .perfil-uni p {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      border: 2px solid #750000;
      border-radius: 25px;
      padding: 25px;
      padding-top: 100px;
      margin-top: 40px; }
      .perfil .perfil-uni p .dato {
        width: 30%; }
      .perfil .perfil-uni p .valor {
        width: 70%; }
      .perfil .perfil-uni p .titulo {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px; }

.tramite {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 45%;
  min-height: 400px;
  background: white;
  border-radius: 15px;
  margin: 2.5%;
  margin-top: 100px;
  padding: 20px;
  position: relative; }
  .tramite .logo {
    position: absolute;
    width: 30%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    top: -10%;
    left: 35%; }
  .tramite article {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border: 2px solid #750000;
    border-radius: 25px;
    padding: 25px;
    padding-top: 100px;
    margin-top: 40px; }
    .tramite article p {
      text-align: justify;
      padding-bottom: 20px; }
    .tramite article ul {
      list-style: none;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap; }
      .tramite article ul li {
        width: 100%;
        line-height: 20px;
        display: flex;
        flex-flow: row wrap; }
        .tramite article ul li .dato {
          width: 30%; }
        .tramite article ul li .valor {
          width: 70%; }
    .tramite article .titulo {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 15px;
      padding-top: 15px; }
