.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.perfil {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: baseline;
  width: 45%;
  min-height: 400px;
  background: white;
  border-radius: 15px;
  margin: 2.5%;
  margin-top: 50px; }
  .perfil .perfil-usuario {
    padding: 20px;
    position: relative;
    margin-top: 50px; }
    .perfil .perfil-usuario .logo {
      position: absolute;
      width: 30%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 10px auto;
      top: -20%;
      left: 35%; }
    .perfil .perfil-usuario p {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      flex-flow: row wrap;
      border: 2px solid #750000;
      border-radius: 25px;
      padding: 25px;
      padding-top: 100px;
      margin-top: 40px; }
      .perfil .perfil-usuario p .dato {
        width: 30%; }
      .perfil .perfil-usuario p .valor {
        width: 70%; }
      .perfil .perfil-usuario p .titulo {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px; }
  .perfil .perfil-uni {
    margin-top: 50px;
    padding: 20px;
    position: relative; }
    .perfil .perfil-uni .logo {
      position: absolute;
      width: 30%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 50px auto;
      top: -20%;
      left: 35%; }
    .perfil .perfil-uni p {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      border: 2px solid #750000;
      border-radius: 25px;
      padding: 25px;
      padding-top: 100px;
      margin-top: 40px; }
      .perfil .perfil-uni p .dato {
        width: 30%; }
      .perfil .perfil-uni p .valor {
        width: 70%; }
      .perfil .perfil-uni p .titulo {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px; }

.tramite {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 45%;
  min-height: 400px;
  background: white;
  border-radius: 15px;
  margin: 2.5%;
  margin-top: 100px;
  padding: 20px;
  position: relative; }
  .tramite .logo {
    position: absolute;
    width: 30%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    top: -10%;
    left: 35%; }
  .tramite article {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border: 2px solid #750000;
    border-radius: 25px;
    padding: 25px;
    padding-top: 100px;
    margin-top: 40px; }
    .tramite article p {
      text-align: justify;
      padding-bottom: 20px; }
    .tramite article ul {
      list-style: none;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap; }
      .tramite article ul li {
        width: 100%;
        line-height: 20px;
        display: flex;
        flex-flow: row wrap; }
        .tramite article ul li .dato {
          width: 30%; }
        .tramite article ul li .valor {
          width: 70%; }
    .tramite article .titulo {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 15px; }
