.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: lime;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: maroon;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

main {
  width: 100%;
  padding: 50px; }
  main .anuies {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between; }
    main .anuies img {
      width: 15%;
      margin: 0% 5%; }
    main .anuies article {
      width: 60%;
      padding: 25px;
      text-align: justify;
      margin: 0 7.5%; }
      main .anuies article h2 {
        font-size: 48px;
        text-align: center;
        color: maroon; }
      main .anuies article p {
        padding: 25px 50px;
        line-height: 24px;
        font-size: 20px; }
  main .nosotros {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between; }
    main .nosotros article {
      width: 60%;
      padding: 25px;
      text-align: justify;
      margin: 0 665px; }
    main .nosotros h2 {
      font-size: 48px;
      text-align: center;
      color: maroon; }
    main .nosotros p {
      padding: 25px 50px;
      line-height: 24px;
      font-size: 20px; }
