@import botones
@import footer

main
  width: 100%
  padding: 50px

  .anuies
    display: flex
    flex-flow: wrap
    justify-content: space-between

    .image
       width: 20%
       height: 300px
       margin: 0% 2.5%
       background-repeat: no-repeat
       background-position: center
       background-size: contain

    article
      width: 60%
      padding: 25px
      text-align: justify
      margin: 0 7.5%

      h2
        font-size: 48px
        text-align: center
        color: $primary
      p
        padding: 25px 50px
        line-height: 24px
        font-size: 20px

  .nosotros
    display: flex
    flex-flow: wrap row-reverse
    justify-content: space-between

    article
      width: 60%
      padding: 25px
      text-align: justify
      margin: 0 7.5%

    h2
      font-size: 48px
      text-align: center
      color: $primary

    p
      padding: 25px 50px
      line-height: 24px
      font-size: 20px
