* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.75); }
  header nav {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.75); }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      header nav ul a {
        text-decoration: none;
        height: 60px; }
        header nav ul a li {
          text-align: center;
          color: white;
          font-size: 24px;
          padding: 18px 25px;
          cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

footer {
  position: relative;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #2b2929;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px; }
  footer .logo {
    width: 35%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  footer .identidad {
    width: 65%;
    height: 100%;
    color: rgba(255, 255, 255, 0.85); }
    footer .identidad .contacto {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.75); }
      footer .identidad .contacto .contacto-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        list-style: none; }
        footer .identidad .contacto .contacto-info li {
          list-style: none; }
    footer .identidad .legal {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 10px; }

.cero {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 0%;
  height: 30px;
  background: white; }

.diez {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 10%;
  height: 30px;
  background: #931212; }

.veinte {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 20%;
  height: 30px;
  background: #933512; }

.treinta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 30%;
  height: 30px;
  background: #934b12; }

.cuarenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 40%;
  height: 30px;
  background: #936e12; }

.cincuenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 50%;
  height: 30px;
  background: #a3a913; }

.sesenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 60%;
  height: 30px;
  background: #75a913; }

.setenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 70%;
  height: 30px;
  background: #5ca913; }

.ochenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 80%;
  height: 30px;
  background: #33a913; }

.noventa {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 90%;
  height: 30px;
  background: #10b046; }

.cien {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 30px;
  background: #10b087; }

body {
  font-size: 14px;
  font-family: sans-serif;
  text-align: justify; }

.proceso {
  width: 80%;
  margin: 25px 10%;
  border: 1px solid #750000;
  border-radius: 5px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  .proceso .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 75px; }
  .proceso .datos {
    width: 70%;
    height: 100%; }
    .proceso .datos ul {
      list-style: none;
      padding: 10px;
      font-size: 16px; }
      .proceso .datos ul li {
        margin: 5px; }
      .proceso .datos ul .uni {
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #750000; }
      .proceso .datos ul .fase {
        color: green;
        font-weight: bold;
        padding-bottom: 5px; }
      .proceso .datos ul .barra {
        margin: 10px 0;
        width: 100%;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px black; }
