* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.75); }
  header nav {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.75); }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      header nav ul a {
        text-decoration: none;
        height: 60px; }
        header nav ul a li {
          text-align: center;
          color: white;
          font-size: 24px;
          padding: 18px 25px;
          cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

footer {
  position: relative;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #2b2929;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px; }
  footer .logo {
    width: 35%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  footer .identidad {
    width: 65%;
    height: 100%;
    color: rgba(255, 255, 255, 0.85); }
    footer .identidad .contacto {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.75); }
      footer .identidad .contacto .contacto-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        list-style: none; }
        footer .identidad .contacto .contacto-info li {
          list-style: none; }
    footer .identidad .legal {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 10px; }

h2 {
  padding: 25px;
  width: 100%;
  text-align: center; }

.reporte {
  width: 90%;
  margin: 25px 5%; }
  .reporte .titulos {
    display: flex; }
    .reporte .titulos span {
      width: 20%;
      text-align: center;
      padding: 10px;
      background: #750000;
      color: white;
      font-size: 20px;
      font-weight: bold; }
  .reporte .eje {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border: 1px solid rgba(0, 0, 0, 0.25); }
    .reporte .eje .capitulo {
      width: 20%;
      border: 1px solid rgba(0, 0, 0, 0.25);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .reporte .eje .contenido {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: column wrap;
      border: 1px solid rgba(0, 0, 0, 0.25); }
      .reporte .eje .contenido .rubro {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.25); }
        .reporte .eje .contenido .rubro .sub {
          width: 25%;
          padding: 5px; }
        .reporte .eje .contenido .rubro .oblig {
          width: 25%;
          padding: 5px;
          text-align: center; }
        .reporte .eje .contenido .rubro .pond {
          width: 25%;
          padding: 5px;
          font-size: 15px;
          line-height: 24px; }
          .reporte .eje .contenido .rubro .pond input {
            background: white;
            border: 1px solid #750000; }
        .reporte .eje .contenido .rubro .obs {
          width: 25%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end; }
          .reporte .eje .contenido .rubro .obs textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 100px;
            max-height: 300px;
            border: transparent;
            cursor: pointer; }

.btn {
  margin: 25px 10%; }
