* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 640px;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .formulario {
    background: rgba(0, 0, 0, 0.05);
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-flow: wrap;
    justify-content: center; }
    main .formulario label {
      font-size: 20px;
      padding: 10px; }
    main .formulario input {
      width: 90%;
      height: 40px;
      margin: 5%; }
    main .formulario button {
      width: 90%;
      margin: 5%;
      height: 40px;
      font-size: 20px;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.25); }
