* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

header nav ul a:hover {
  background: rgba(117, 0, 0, 0.5); }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  text-decoration: none;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

header nav ul a:hover {
  background: rgba(117, 0, 0, 0.5); }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  text-decoration: none;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.75); }
  header nav {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.75); }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      header nav ul a {
        text-decoration: none;
        height: 60px; }
        header nav ul a li {
          text-align: center;
          color: white;
          font-size: 24px;
          padding: 18px 25px;
          cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px; }

header nav ul a:hover {
  background: rgba(117, 0, 0, 0.5); }

.spacer {
  width: 100%;
  height: 60px; }

.btn {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  margin: 20px auto; }
  .btn:hover {
    transform: scale(1.05); }

.primary {
  background: #750000;
  color: white; }
  .primary:hover {
    opacity: 0.75; }

.secondary {
  background: #750000;
  color: white; }
  .secondary:hover {
    opacity: 0.75; }

.tertiary {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(117, 0, 0, 0.5);
  font-size: 14px;
  background: white;
  color: #750000;
  text-decoration: none;
  margin: 0px 0 10px 20px; }
  .tertiary:hover {
    opacity: 0.50; }

footer {
  position: relative;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #750000;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px;
  border-top: 5px solid white; }
  footer .logo {
    width: 35%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  footer .identidad {
    width: 65%;
    height: 100%;
    color: rgba(255, 255, 255, 0.85); }
    footer .identidad .contacto {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.75); }
      footer .identidad .contacto .contacto-info {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        list-style: none; }
        footer .identidad .contacto .contacto-info li {
          list-style: none; }
        footer .identidad .contacto .contacto-info span {
          padding: 20px; }
    footer .identidad .legal {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 10px; }

.cero {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 0%;
  height: 100%;
  background: white; }

.diez {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 10%;
  height: 100%;
  background: #931212; }

.veinte {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 20%;
  height: 100%;
  background: #933512; }

.treinta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 30%;
  height: 100%;
  background: #934b12; }

.cuarenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 40%;
  height: 100%;
  background: #936e12; }

.cincuenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 50%;
  height: 100%;
  background: #a3a913; }

.sesenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 60%;
  height: 100%;
  background: #75a913; }

.setenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 70%;
  height: 100%;
  background: #5ca913; }

.ochenta {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 80%;
  height: 100%;
  background: #33a913; }

.noventa {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 90%;
  height: 100%;
  background: #10b046; }

.cien {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background: #10b087; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: sans-serif;
  text-align: justify; }

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.75); }
  header nav {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.75); }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      header nav ul a {
        text-decoration: none;
        height: 60px; }
        header nav ul a li {
          text-align: center;
          color: white;
          font-size: 24px;
          padding: 18px 25px;
          cursor: pointer; }

.spacer {
  width: 100%;
  height: 60px; }

main {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background: #750000; }
  main .contenido {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background: white; }
    main .contenido h2 {
      font-size: 28px;
      width: 60%;
      max-height: 50px;
      margin: 25px 20%;
      text-align: center; }
    main .contenido article {
      width: 80%;
      margin: 25px 10%; }
      main .contenido article p {
        margin: 15px; }
    main .contenido img {
      width: 50%;
      margin: 25px 25%; }
    main .contenido .botones-apr {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      main .contenido .botones-apr .btn {
        width: 150px;
        height: 50px;
        margin: 15px 0;
        padding: auto;
        font-size: 20px; }
      main .contenido .botones-apr .btn-save {
        background: #750000;
        color: white; }
        main .contenido .botones-apr .btn-save:hover {
          background: #750000;
          opacity: 0.75;
          transform: scale(1.05); }
      main .contenido .botones-apr .btn-aprobar {
        background: #750000;
        color: white;
        margin: 15px 15px 15px 0; }
        main .contenido .botones-apr .btn-aprobar:hover {
          background: #750000;
          opacity: 0.75;
          transform: scale(1.05); }
      main .contenido .botones-apr .razon {
        width: 40%;
        margin: 15px; }
    main .contenido .botones-save {
      width: 100%;
      margin: 0 10%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end; }
      main .contenido .botones-save .btn {
        width: 150px;
        height: 50px;
        margin: 15px 0;
        padding: auto;
        font-size: 20px; }
      main .contenido .botones-save .btn-save {
        background: #750000;
        color: white; }
        main .contenido .botones-save .btn-save:hover {
          background: #750000;
          opacity: 0.75;
          transform: scale(1.05); }
      main .contenido .botones-save .btn-aprobar {
        background: #750000;
        color: white;
        margin: 15px 15px 15px 0; }
        main .contenido .botones-save .btn-aprobar:hover {
          background: #750000;
          opacity: 0.75;
          transform: scale(1.05); }
      main .contenido .botones-save .razon {
        width: 40%;
        margin: 15px; }
    main .contenido .botones-documento {
      width: 100%;
      margin: 0 10%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end; }
      main .contenido .botones-documento .btn {
        width: 200px;
        height: 50px;
        padding: auto; }
      main .contenido .botones-documento .btn-doc {
        background: white;
        color: #750000; }
        main .contenido .botones-documento .btn-doc:hover {
          background: white;
          opacity: 0.80;
          transform: scale(1.05); }
    main .contenido .avance {
      width: 80%;
      margin: 15px 10%;
      font-size: 18px; }
      main .contenido .avance .barra {
        width: 100%;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        color: black;
        text-shadow: 1px 1px white;
        margin: 5px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        position: relative; }
        main .contenido .avance .barra .color {
          z-index: 1; }
    main .contenido .formulario {
      width: 80%;
      margin: 25px 10%;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between; }
      main .contenido .formulario p {
        font-size: 18px; }
      main .contenido .formulario h5 {
        width: 100%;
        color: #750000;
        font-size: 16px; }
      main .contenido .formulario h4 {
        margin: 15px 0;
        width: 100%;
        background: #750000;
        font-size: 20px;
        padding: 10px;
        color: white; }
      main .contenido .formulario .respuesta {
        width: 60%;
        font-size: 16px;
        text-align: justify;
        margin: 15px 0 15px 0;
        padding: 0 10px 0 10px; }
      main .contenido .formulario .etiquetaComent {
        width: 58%;
        font-size: 16px;
        text-align: justify;
        margin: 0 0 15px 40%;
        font-style: italic;
        color: rgba(117, 0, 0, 0.75); }
      main .contenido .formulario .etiquetaResp {
        width: 54%;
        font-size: 14px;
        text-align: justify;
        margin: 0 0 15px 44%;
        font-style: italic;
        color: rgba(117, 0, 0, 0.75); }
      main .contenido .formulario .comentarioEjem {
        width: 58%;
        padding: 10px 0 10px 8px;
        font-size: 16px;
        text-align: justify;
        margin: 0px 0 15px 41%;
        color: rgba(0, 0, 0, 0.75);
        border: rgba(117, 0, 0, 0.5) 2px solid; }
      main .contenido .formulario .respuestaEjem {
        width: 54%;
        padding: 10px 0 10px 8px;
        font-size: 14px;
        text-align: justify;
        margin: 0px 0 15px 45%;
        color: rgba(0, 0, 0, 0.75);
        border: rgba(117, 0, 0, 0.5) 2px solid; }
      main .contenido .formulario label {
        padding: 0 10px 0 10px;
        width: 35%;
        font-size: 16px;
        text-align: justify;
        margin: 15px 0 5px 0; }
      main .contenido .formulario textarea {
        min-height: 50px;
        max-height: 250px;
        min-width: 58%;
        max-width: 58%;
        background: white;
        margin: 15px 1% 15px 0;
        font-size: 14px;
        padding: 5px;
        color: black;
        text-align: justify; }
      main .contenido .formulario .comentario {
        min-height: 50px;
        max-height: 250px;
        min-width: 58%;
        max-width: 58%;
        background: white;
        margin: 0px 0 0px 41%;
        font-size: 14px;
        padding: 5px;
        color: black;
        text-align: justify; }
      main .contenido .formulario .comentarioResp {
        min-height: 50px;
        max-height: 250px;
        min-width: 54%;
        max-width: 54%;
        background: white;
        margin: 0px 0 0px 45%;
        font-size: 12px;
        padding: 5px;
        color: black;
        text-align: justify; }
      main .contenido .formulario input[type="number"] {
        text-align: right;
        padding: 5px;
        width: 20%;
        height: 25px;
        background: transparent;
        border: 0;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
        margin: 15px 0;
        font-size: 16px; }
        main .contenido .formulario input[type="number"]:focus {
          outline: none !important;
          outline-width: 0 !important;
          border-bottom: 1px solid #750000;
          overflow: hidden; }
      main .contenido .formulario .lab-documentos {
        width: 80%;
        margin: 25px auto;
        padding: 25px;
        font-size: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border: 0.5px solid #750000;
        border-radius: 15px; }
        main .contenido .formulario .lab-documentos:hover {
          transform: scale(1.03); }
      main .contenido .formulario .documentos {
        display: none; }
      main .contenido .formulario select {
        padding: 5px;
        width: 65%;
        background: transparent;
        margin: 15px 0;
        font-size: 16px; }
      main .contenido .formulario .complemento {
        padding: 5px;
        width: 45%;
        margin: 15px 0;
        font-size: 16px; }
  main .menu {
    width: 20%;
    height: 100%; }
    main .menu ul {
      width: 20%;
      margin: 0 auto;
      position: fixed;
      list-style: none;
      display: flex;
      flex-flow: column wrap;
      align-items: left;
      justify-content: flex-start;
      background: #750000; }
      main .menu ul li {
        text-align: left;
        color: white;
        font-size: 18px;
        padding: 18px 25px;
        cursor: pointer; }

.btn_comentar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px; }
  .btn_comentar .btn {
    margin: 0;
    width: 60px;
    height: 25px;
    font-size: 12px;
    line-height: 10px; }
